/* Paleta de colores */
:root {
    --bg-main: #0B0B0E;
    --bg-card: #14141A;
    --border-subtle: #262630;

    --brand-primary: #631825;
    --brand-primary-hover: #8F2638;
    --brand-soft: #B85C6D;

    --accent-red: #C6362F;
    --accent-red-hover: #E14A43;

    --text-main: #EDEDED;
    --text-secondary: #B5B5C0;
    --text-muted: #7D7D88;

    --bg-main-card: #0F1115;
    --bg-card-front: #161A22;
    --bg-card-back: #1B202B;
}

h1 {
  font-size: 2.25rem; /* text-4xl */
  font-weight: 700;
}

h2 {
  font-size: 1.875rem; /* text-3xl */
  font-weight: 600;
}

h3 {
  font-size: 1.5rem; /* text-2xl */
  font-weight: 600;
}

h4 {
  font-size: 1.125rem; /* text-4xl */
  font-weight: 700;
}

h5 {
  font-size: 0.75rem; /* text-3xl */
  font-weight: 600;
}

h6 {
  font-size: 0.375rem; /* text-2xl */
  font-weight: 600;
}

/* Navbar.astro */
.navbar {
    background: var(--bg-main-card);
    backdrop-filter: blur(8px);
    border-bottom: 0.5rem solid var(--border-subtle);
    box-shadow:
    0px 16px 16px rgba(0, 0, 0, 0.6), inset 0 0 0 1px rgba(255, 255, 255, 0.03);
}

.navbar a, .navbar h4 {
    color: var(--text-main);
    padding: 0 2rem;
    text-decoration: none;
    
}

.navbar a:hover {
    color: var(--brand-soft);
    border-bottom: 2px solid var(--brand-soft);
    transition: color 0.35s ease, background 0.35s ease;
}



/* Hero.astro */

.Hero {
  align-items: center;
  color: var(--text-main);
  overflow: hidden;
  background: var(--brand-primary);
}

.image-container {
    margin: 3rem;
}

.cv-button {
    color: var(--text-main);
    background: var(--bg-card-back);
    border-radius: 8px;
    border: solid 0.2rem var(--border-subtle);
}

.cv-button:hover {
    background: var(--brand-primary-hover);
    border: solid 0.2rem var(--brand-primary);
    transition: border 0.5s ease, background 0.5s ease;
}

/* Flip Card Styles */

.Hero .flip-card {
    width: 100%;
    max-width: 300px; /* Tamaño máximo en desktop */
    aspect-ratio: 1 / 1; /* Mantiene el círculo perfecto */
    margin: 0 auto; /* Centra la card */
}

.Hero .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
}

/* Hover */
.Hero .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Caras */
.Hero .flip-card-front,
.Hero .flip-card-back {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: -32px -16px 16px rgba(0, 0, 0, 0.6), 
                inset 0 0 0 1px rgba(255, 255, 255, 0.03);
}

/* Frente */
.Hero .flip-card-front {
    background: var(--bg-card-front);
    border: solid 0.5rem var(--border-subtle);
}

/* Atrás */
.Hero .flip-card-back {
    border: solid 0.5rem var(--brand-primary);
    background: var(--bg-card-back);
    transform: rotateY(180deg);
}

.Hero-content {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.about-me-section {
  background: var(--bg-main-card);
  color: var(--text-main);
  border-radius: 16px;
  border: solid 0.5rem var(--border-subtle);
  text-align: justify;
  width: 100%;
  height: auto;
  box-shadow:
  -32px -32px 16px rgba(0, 0, 0, 0.6), inset 0 0 0 1px rgba(255, 255, 255, 0.03);
}

.translate-up {
  transform: translateY(40px);
  opacity: 0;
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}

.translate-left {
  transform: translateX(-120px);
  opacity: 0;
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}

.translate-right {
  transform: translateX(120px);
  opacity: 0;
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}

/* Work Experience Section*/

.work-experience-section {
    background: var(--bg-main-card);
    color: var(--text-main);
    border-radius: 16px;
    border: solid 0.5rem var(--border-subtle);
    text-align: justify;
    width: 100%;
    padding-top: 2rem;
    height: auto;
    box-shadow: -32px -32px 16px rgba(0, 0, 0, 0.6), 
                inset 0 0 0 1px rgba(255, 255, 255, 0.03);
}

.experience-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Altura del carousel según dispositivo */
#carouselDesktop, .carousel-inner {
    height: 100%;
    min-width: 100%;
}

#carouselMobile .carousel-inner {
    padding: 1rem;
    min-height: 100%;
}

/* Flip Card Base */
.work-experience-section .flip-card-experience {
    margin: 0 auto;
    text-align: center;
    height: auto;
}

.flip-card-experience {
    aspect-ratio: 4 / 8;
}



.work-experience-section .flip-card-experience-inner {
    position: relative;
    width: 100%;
    height: 85%;
    transform-style: preserve-3d;
    transition: transform 1s ease;
}

.work-experience-section .flip-card-experience:hover .flip-card-experience-inner {
    transform: rotateY(180deg);
}

/* Caras de la card */
.work-experience-section .flip-card-experience-front,
.work-experience-section .flip-card-experience-back {
    position: absolute;
    height: 100%;
    inset: 0;
    background: var(--bg-card-back);
    border: solid 0.5rem var(--border-subtle);
    backface-visibility: hidden;
    border-radius: 16px;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: justify;
    box-shadow: 8px 8px 21px rgba(0, 0, 0, 0.6), 
                    inset 0 0 0 1px rgba(255, 255, 255, 0.03);
}

.work-experience-section .flip-card-experience-back {
    transform: rotateY(180deg);
}

/* Imágenes dentro de las cards */
.work-experience-section .flip-card-experience-front img {
    width: 100%; 
    border-radius: 16px;
    padding: 1rem;
    object-fit: contain;
}

/* Technologies */
.technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    list-style: none;
    margin: 1rem ;
    border: solid 0.3rem var(--brand-primary);
    background: var(--bg-card);
    color: var(--text-secondary);
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6),
                inset 0 0 0 1px rgba(255, 255, 255, 0.03);
}

.technologies li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: auto;
    padding: 1rem;
}

.technologies li img {
    height: 32px !important;
    width: auto;
    padding: 4px !important;
}

.technologies li span {
    font-size: 0.75rem;
    margin-top: 0.25rem;
}




/* Services styles */

.services-section {
  background: var(--bg-main-card);
  color: var(--text-main);
  border: solid 0.5rem var(--border-subtle);
  border-radius: 16px;
  padding: 2rem;
  text-align: justify;
  height: auto;
  box-shadow:
  -32px -32px 16px rgba(0, 0, 0, 0.6), inset 0 0 0 1px rgba(255, 255, 255, 0.03);
}

.show {
  transform: translateY(0);
  transform: translateX(0);
  opacity: 1;
}

.services-card {
  background: var(--bg-card);
  border: solid 0.5rem var(--brand-primary);
  border-radius: 16px;
  padding: 1rem;
  box-shadow:
  -16px -16px 16px rgba(0, 0, 0, 0.6), inset 0 0 0 1px rgba(255, 255, 255, 0.03);
  
}

.service-list {
  list-style:circle;
  padding: 1rem;
}

.img-service-container {
  border: solid 0.5rem var(--brand-primary);
  box-shadow:
  -16px 16px 30px rgba(0, 0, 0, 0.6),
  inset 0 0 0 1px rgba(255, 255, 255, 0.03);
}

/* Personal projects */

.project-card {
  background: var(--bg-card);
  border: solid 0.5rem var(--brand-primary);
  border-radius: 16px;
  box-shadow:
  -16px -16px 16px rgba(0, 0, 0, 0.6), inset 0 0 0 1px rgba(255, 255, 255, 0.03);
}

.project-image {
  border-radius: 16px;
  border: solid 0.5rem var(--border-subtle);
  box-shadow:
  -16px 16px 30px rgba(0, 0, 0, 0.6),
  inset 0 0 0 1px rgba(255, 255, 255, 0.03);
}

.view-live-button {
  background: var(--bg-card-back);
  padding: 0.5rem;
  border-radius: 16px;
  border: solid 0.25rem var(--brand-primary);
  color: var(--text-secondary);
  box-shadow:
  -16px 16px 30px rgba(0, 0, 0, 0.6),
  inset 0 0 0 1px rgba(255, 255, 255, 0.03);
}

.view-live-button a {
  text-decoration: none;
}

/* Footer styles */

.footer { 
  background: var(--bg-main-card);
  color: var(--text-main);
  border-top: solid 0.5rem var(--border-subtle);
  box-shadow:
  0px -16px 16px rgba(0, 0, 0, 0.6), inset 0 0 0 1px rgba(255, 255, 255, 0.03);
}

/* RESPONSIVE - Móvil */

@media (max-width: 991px) {
    .work-experience-section {
        padding: 1rem;
        
    }
    
    .work-experience-section .flip-card-experience {
        height: 100%;
        
        width: 280px;
    }
    
    #carouselMobile .carousel-inner {
        min-height: 100%;
    }
    
    .work-experience-section .flip-card-experience-front img {
        max-height: 150px;
    }
    
    .technologies {
        padding: 1rem;
        margin: 1rem;
    }
    
    .technologies li {
        padding: 1rem;
    }
    
    .technologies li img {
        height: 28px !important;
    }
}

@media (max-width: 576px) and (max-height: 700px) {
    .work-experience-section .flip-card-experience {
    }

    .experience-card {
        width: 350px;
    }
    
    .technologies li {
        padding: 0rem;
    }

    #carouselMobile .carousel-inner {
    }
    .services-section {
        padding: 0.5rem;
    }
    .project-image {
        border-radius: 16px;
        border: solid 0.2rem var(--border-subtle);
    }
}

@media (max-width: 576px) and (min-height: 701px) {
    .work-experience-section .flip-card-experience {
    }

    .experience-card {
    }
    
    .technologies li {
        padding: 0rem;
    }

    #carouselMobile .carousel-inner {
    }
    .services-section {
        padding: 0.5rem;
    }
}


@media (min-width: 1024px) {
    .navbar {
        min-height: 12vh;
    }
    .about-me-section {
        box-shadow:
        -16px -16px 16px rgba(0, 0, 0, 0.6), inset 0 0 0 1px rgba(255, 255, 255, 0.03);
    }
    .technologies {
        padding: 0.75rem;
        margin: 0.75rem ;
    }

    .technologies li {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: auto;
        padding: 0.25rem;
    }

    .technologies li span {
        font-size: 0.75rem;
        margin-top: 0.25rem;
    }

    .work-experience-section .flip-card-experience-front,
    .work-experience-section .flip-card-experience-back {
        width: 100%;
        box-shadow: -1rem -1rem 16px rgba(0, 0, 0, 0.6), 
                    inset 0 0 0 1px rgba(255, 255, 255, 0.03);
    }

    .work-experience-section .flip-card-experience-front img {
    }

    
}

/* Responsive */
@media (max-width: 768px) {
    .Hero .flip-card {
        max-width: 250px; /* Más pequeño en tablets */
    }
}

@media (max-width: 480px) {
    .Hero .flip-card {
        max-width: 200px; /* Más pequeño en móviles */
    }
    
    .Hero-content {
        gap: 1rem;
        padding: 1rem;
    }
}
